/* COLOR VARIABLES */
:root {
    transition: 0.2s ease;
    --color-bg: #ececec;
    --color-bg-elements: #ffffff;
    --color-text: #111517;
    --color-text-light: #43545c;
    --color-accent: #ff6e31;
}

:root.dark {
    transition: 0.2s ease;
    --color-bg: #202c37;
    --color-bg-elements: #2b3945;
    --color-text: #ffffff;
    --color-text-light: #cfcfcf;
    --color-accent: #ff6e31;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
}
.page_number,
.page_btn {
    list-style: none;
    appearance: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-bg-elements);
    cursor: pointer;
}

.page_btn {
    color: var(--color-accent);
    font-weight: 700;
    font-size: 1.2rem;
}

.page_btn.left_side {
    margin-right: auto;
}

.page_btn.right_side {
    margin-left: auto;
}

.page_number:active,
.page_btn:active {
    filter: brightness(0.7);
}

.page_number.selected {
    color: var(--color-bg-elements);
    background-color: var(--color-accent);
}

/* Hover only works on devices with hover capabilities */
@media (hover: hover) {
    .page_number:hover,
    .page_btn:hover {
        color: var(--color-bg-elements);
        background-color: var(--color-accent);
        transition: 0.3s cubic-bezier(0.25, 1, 0.3, 1);
    }
}
