.toolbar {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.container_select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
