/* COLOR VARIABLES */
:root {
    transition: 0.2s ease;
    --color-bg: #ececec;
    --color-bg-elements: #ffffff;
    --color-text: #111517;
    --color-text-light: #43545c;
    --color-accent: #ff6e31;
}

:root.dark {
    transition: 0.2s ease;
    --color-bg: #202c37;
    --color-bg-elements: #2b3945;
    --color-text: #ffffff;
    --color-text-light: #cfcfcf;
    --color-accent: #ff6e31;
}

.pagination_container {
    display: flex;
    width: 100%;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
.page_number {
    list-style-type: none;
    list-style: none;
    appearance: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-bg-elements);
    cursor: pointer;
}

.page_number:active {
    filter: brightness(0.7);
}

.page_number.selected {
    color: var(--color-bg-elements);
    background-color: var(--color-accent);
}

/* Hover only works on devices with hover capabilities */
@media (hover: hover) {
    .page_number:hover {
        color: var(--color-bg-elements);
        background-color: var(--color-accent);
        /* transition: 0.3s cubic-bezier(0.25, 1, 0.3, 1); */
    }
}
